<div id="<%= dom_id post %>" class="card-body bg-success p-2 text-black bg-opacity-50">
  <p class="fs-3">
    <strong>Titúlo:</strong>
    <%= post.title %>
  </p>

  <p class="fs-3">
    <strong>Descrição:</strong>
  </p>

  <p class="fs-5 card-text">
    <%= post.description %>
  </p>

</div>
