<div class="col-lg-8 mx-auto">
  <div class="card shadow mb-3">
    <h1 class="card-title text-center">Editar</h1>
  </div>

  <div class="card card-body fs-3 mt-5">
    <%= render "form", post: @post %>
  </div> 
</div>
