<div class="col-lg-8 mx-auto mt-3">
  <div class="card shadow mb-3 p-2">
    <h1 class="card-title text-center">Novo post</h1>
  </div>

  <div class="card shadow">
    <div class="card-body">
      <%= render "form", post: @post %>
    </div> 
  </div> 
</div>
